# Entorno virtual
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3

# Archivos de VS Code
.vscode/

# Archivos temporales
*.log
logs/*.log

# Media (opcional)
media/

# Variables de entorno
.env

# Pytest
.pytest_cache/

# Distribuciones
build/
dist/
*.egg-info/
