{% extends "base.html" %}

{% block title %}
Reservar material
{% endblock %}

{% block content %}

<h1>Reservar material</h1>

<div class="card shadow">

    <div class="card-header bg-primary text-white">
        Material: {{ material.nombre }}
    </div>

    <div class="card-body">

        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <div class="mb-3">
                <label class="form-label">Material</label>
                <input type="text"
                       class="form-control"
                       value="{{ material.nombre }}"
                       disabled>
            </div>

            {% for field in form %}

                {% if field.name != "material" %}

                    <div class="mb-3">
                        <label class="form-label">
                            {{ field.label }}
                        </label>

                        {{ field }}

                        {% if field.errors %}
                            <div class="text-danger mt-1">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>

                {% endif %}

            {% endfor %}

            <button type="submit" class="btn btn-primary">
                Confirmar reserva
            </button>

            <a href="{% url 'inventario:detalle_material' material.id %}"
               class="btn btn-secondary">
                Cancelar
            </a>

        </form>

    </div>

</div>

{% endblock %}