{% extends "base.html" %}

{% block title %}
Listado de materiales
{% endblock %}

{% block content %}

<h1>Listado de materiales</h1>
<a href="{% url 'inventario:crear_material' %}" class="btn btn-success mb-3">
    Añadir material
</a>
<table class="table table-striped">

    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Estado</th>
        </tr>
    </thead>

    <tbody>

    {% for material in materiales %}

        <tr>
            <td>{{ material.codigo_inventario }}</td>

            <td>
                <a href="{% url 'inventario:detalle_material' material.id %}">
                    {{ material.nombre }}
                </a>
            </td>

            <td>{{ material.categoria }}</td>
            <td>{{ material.marca }}</td>
            <td>{{ material.modelo }}</td>
            <td>{{ material.get_estado_display }}</td>

        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}